.card-footer
    .row
        .col-6.text-center
            label
                input(type='radio', name='isbn-length', data-param='length', value='10')
                = t('generator.PL.regon.length', {length: 10})
        .col-6.text-center
            label
                input(type='radio', name='isbn-length', data-param='length', value='13', checked)
                = t('generator.PL.regon.length', {length: 13})
    select(data-countries, data-param='country').form-control.select2
