.card-footer.pb-0
    .row
        .col-12.col-xl-6
            .form-group
                label= t('generator._.password.length')
                input.form-control(type='number', data-param='length', value=12, min=3, max=128)
        .col-12.col-xl-6
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='lower', value=1, checked).form-check-input
                        = t('generator._.password.sets.lower')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='upper', value=1, checked).form-check-input
                        = t('generator._.password.sets.upper')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='digits', value=1, checked).form-check-input
                        = t('generator._.password.sets.digits')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='symbols', value=1).form-check-input
                        = t('generator._.password.sets.symbols')
